<%
  if params["action"]=="edit"
    @action = 'update'
    @method = 'put'
  else
    @action = 'create'
    @method = 'post'
  end
%>

<%= form_for @booking, :url=>url_for(:action => @action), :method => @method  do |f| %>

  <div class="form-group">
    <%= f.label :start_time %>  
    <input id="booking_start_time" type="text" placeholder="Select Date dd/mm/yyyy" name="booking[start_time]" data-validate="true" >
  </div>

  <div class="form-group">
    <%= f.label :end_time %>
    <input id="booking_end_time" type="text" placeholder="Select Date dd/mm/yyyy" name="booking[end_time]" data-validate="true" >
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-gray pull-right" %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
        $(function () {

            // var unavailableDates = ["2016-09-27"];

            // function unavailable(date) {
            //     dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" +date.getFullYear();
            //     if ($.inArray(dmy, unavailableDates) < 0) {
            //         return [true,"","Book Now"];
            //     } else {
            //         return [false,"","Booked Out"];
            //     }
            // }

            // $('#booking_start_time').datepicker({ beforeShowDay: unavailable });

            $('#booking_start_time').datetimepicker({
                format: 'DD/MM/YYYY hh:mm:ss', daysOfWeekDisabled: [0,6]
            });
            $('#booking_end_time').datetimepicker({
                format: 'DD/MM/YYYY hh:mm:ss', daysOfWeekDisabled: [0,6]
            });
        });
    });
</script>
