<h1>Editing Conference Room<%= link_to '', portal_conference_rooms_path(@conference_room), class: "fa fa-eye gray pull-right" %></h1>

<%= render 'form', conference_room: @conference_room %>

<%#= link_to 'Back', conference_rooms_path %>
